@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

h1, h2, h3, h4, p {
  margin-top: 0; }

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.5em; }

.banner-text {
  position: absolute;
  z-index: 5;
  max-width: 375px;
  text-align: center;
  padding-top: 20px; }

#pi-text {
  color: #3dd4e5;
  font-weight: bolder;
  -webkit-text-stroke: 1px grey; }

.banner-text a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px;
  border-radius: 2px;
  background-color: grey; }

#learn, #quote, .mobile-services {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  margin-right: 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #20538D;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2); }

#learn:hover, #quote:hover .mobile-services:hover {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  background-color: #5a5a5a; }

.subbanner p {
  font-size: 14px;
  padding: 5px; }

.services-content {
  display: flex;
  margin-top: 350px;
  justify-content: space-between; }

.services-index {
  display: flex;
  flex-direction: row;
  width: 1000px; }

.services {
  display: flex;
  max-width: 1000px; }

.services img {
  width: 333px;
  height: auto; }

.services-page-featured-image {
  padding-left: 20px; }

.img-computer-repair {
  display: none; }

.img-web-design {
  display: none; }

.services {
  padding-top: 36px;
  padding-right: 10px; }

.subbanner {
  display: flex;
  padding-top: 400px;
  padding-bottom: 50px; }

.subbanner img {
  padding-bottom: 20px; }

.heart, .clock {
  padding-bottom: 50px; }

.team, .heart, .clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.mobile-services {
  display: none;
  background-color: darkgrey;
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 25px; }

.mobile-services:hover {
  background-color: dimgrey; }

.mobile-services a {
  text-decoration: none;
  color: white; }

#contact-banner {
  display: none; }

#service-banner {
  display: none; }

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  border: wheat solid 1px;
  min-height: 100%; }

.banner img {
  max-width: 1000px;
  position: absolute;
  height: auto; }

.bannertext {
  position: relative;
  top: 140px;
  left: 110px; }

.pagecontent {
  display: flex;
  flex: 1; }

.contact-info {
  margin-right: 10px;
  margin-bottom: 20px;
  max-width: 500px;
  background: #555;
  padding: 80px 30px 20px 30px;
  font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #D3D3D3;
  text-shadow: 1px 1px 1px #444;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }

header {
  font-family: Helvetica, sans-serif; }
  header h1 {
    padding-top: 50px;
    font-size: 40px; }
  header a {
    text-decoration: none;
    color: #8d8d8d; }
  header .telephone {
    padding-top: 100px;
    font-size: 20px; }

.phone img {
  max-width: 20px; }

.topnav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: #8d8d8d;
  padding-left: 14px;
  padding-right: 24px; }

nav:not(.service-nav) {
  border: gray solid 1px; }
  nav:not(.service-nav) a {
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    background: black;
    padding: 20px 5px;
    display: block;
    width: 100%;
    text-align: center;
    transition: all 0.5s; }
  nav:not(.service-nav) a:hover {
    text-decoration: underline; }
    nav:not(.service-nav) a:hover .underlined {
      text-decoration: underline dotted red; }
  nav:not(.service-nav) ul {
    border: 1px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; }
  nav:not(.service-nav) li {
    flex: 3; }

nav.service-nav {
  padding: 40px;
  margin: 5px; }
  nav.service-nav ul {
    height: 300px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 200px; }
  nav.service-nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #e4b124; }
  nav.service-nav li a:hover {
    background-color: #14adb0; }

.nav {
  background: black;
  color: white;
  height: 80px; }
  .nav a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    line-height: 150%;
    padding-bottom: 5px; }
    .nav a:hover {
      color: pink;
      border-bottom: 2px solid pink; }
  .nav ul {
    padding-left: 0; }
    .nav ul li {
      list-style: none; }
  .navcontainer {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .navcontainer__list {
      display: flex;
      flex-direction: row; }
      .navcontainer__list li {
        padding: 5px;
        margin: 10px; }
      .navcontainer__list .dropDown::after {
        content: ' ▾ ';
        display: inline-block;
        margin-left: 5px; }
      .navcontainer__list--dropDown {
        display: none;
        position: absolute;
        background: black;
        padding: 10px; }

@media screen and (max-width: 725px) {
  .nav__container {
    max-width: 98%; }
    .nav__container #hamburgerToggle {
      position: absolute;
      right: 1%;
      top: 25px;
      padding: 10px 40px 10px 0px; }
      .nav__container #hamburgerToggle:hover {
        color: none;
        border-bottom: 2px solid transparent; }
      .nav__container #hamburgerToggle span, .nav__container #hamburgerToggle span::before, .nav__container #hamburgerToggle span::after {
        content: '';
        height: 5px;
        width: 35px;
        background: white;
        position: absolute;
        display: block;
        transition: all 0.3s ease-in-out; }
      .nav__container #hamburgerToggle span:before {
        top: -10px; }
      .nav__container #hamburgerToggle span:after {
        bottom: -10px; }
      .nav__container #hamburgerToggle.active span {
        background-color: transparent; }
        .nav__container #hamburgerToggle.active span:before, .nav__container #hamburgerToggle.active span:after {
          top: 0; }
        .nav__container #hamburgerToggle.active span:before {
          transform: rotate(45deg); }
        .nav__container #hamburgerToggle.active span:after {
          transform: rotate(-45deg); }
    .nav__container__list {
      display: none;
      position: absolute;
      background: black;
      padding: 0 100px;
      width: 100%;
      left: 0;
      top: 60px;
      text-align: center; }
      .nav__container__list--dropDown {
        display: block;
        position: relative; }
      .nav__container__list li {
        padding: 5px 0 5px 5px;
        margin: 10px 0 10px 20px; } }
/* #### Dark Matter Form #### */
.dark-matter {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  max-width: 500px;
  background: #555;
  padding: 50px 70px 50px 70px;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #D3D3D3;
  text-shadow: 1px 1px 1px #444;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }

.dark-matter h1 {
  padding: 0px 0px 10px 40px;
  display: block;
  border-bottom: 1px solid #444;
  margin: -10px -30px 30px -30px; }

.dark-matter h1 > span {
  display: block;
  font-size: 11px; }

.dark-matter label {
  display: block;
  margin: 0px 0px 5px; }

.dark-matter label > span {
  float: left;
  width: 40%;
  text-align: left;
  padding-right: 10px;
  margin-top: 10px;
  font-weight: bold; }

.dark-matter input[type="text"], .dark-matter input[type="email"], .dark-matter textarea, .dark-matter select {
  border: none;
  color: #525252;
  height: 25px;
  line-height: 15px;
  margin-bottom: 16px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 5px 0px 5px 5px;
  width: 70%;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  background: #DFDFDF; }

.dark-matter select {
  background: #DFDFDF url("down-arrow.png") no-repeat right;
  background: #DFDFDF url("down-arrow.png") no-repeat right;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  width: 70%;
  height: 35px;
  color: #525252;
  line-height: 25px; }

.dark-matter textarea {
  height: 100px;
  padding: 5px 0px 0px 5px;
  width: 70%; }

.dark-matter .button {
  background: #FFCC02;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #585858;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  text-shadow: 1px 1px 1px #FFE477;
  font-weight: bold;
  box-shadow: 1px 1px 1px #3D3D3D;
  -webkit-box-shadow: 1px 1px 1px #3D3D3D;
  -moz-box-shadow: 1px 1px 1px #3D3D3D; }

.dark-matter .button:hover {
  color: #333;
  background-color: #EBEBEB; }

h2.havequestion {
  margin-top: 350px;
  text-align: center; }

footer {
  background-color: black;
  text-align: center; }
  footer p {
    color: grey; }
  footer li:hover {
    text-decoration: underline chartreuse; }
    footer li:hover .underlined {
      text-decoration-color: red; }

.footer-icons {
  display: flex;
  align-items: center;
  padding: 0 24px; }
  .footer-icons > * {
    width: 33.3333333333%; }

.footer-logo img {
  max-width: 75px;
  max-height: 75px;
  display: block; }

.social-media {
  display: flex;
  justify-content: center; }
  .social-media a:nth-child(2) {
    margin: 0 20px; }
  .social-media img {
    max-width: 30px;
    max-height: 30px; }

.footer-telephone {
  text-align: right; }
  .footer-telephone a {
    color: #8d8d8d;
    text-decoration: none; }

.copywright {
  padding-bottom: 5px; }

@media screen and (max-width: 780px) {
  nav.service-nav {
    padding-top: 40px;
    /* Change the link color to #111 (black) on hover */ }
    nav.service-nav ul {
      list-style-type: none;
      margin: 4px;
      padding: 0;
      overflow: hidden;
      justify-content: space-between;
      flex-direction: row;
      height: auto;
      width: auto; }
    nav.service-nav li {
      float: left; }
    nav.service-nav li a {
      display: block;
      font-size: 14px;
      text-align: center;
      text-decoration: none;
      padding: 8px; }

  div.services-page-featured-image {
    display: none; }

  .services-page-navigation {
    height: 50px; }

  .services-content {
    display: block; }

  .services {
    padding-top: 56px;
    padding-right: 14px;
    padding-left: 14px;
    margin-bottom: 20px; }
    .services p {
      font-size: 14px; } }
@media only screen and (max-width: 1010px) {
  .services-index, #servicesh2 {
    display: none; }

  .mobile-services {
    display: block; } }
@media only screen and (max-width: 860px) {
  .subbanner h2 {
    font-size: 1em; }

  .subbanner img {
    max-width: 100px; }

  .subbanner article {
    padding: 15px; }

  .banner img:first-child {
    display: none; }

  #contact-banner {
    display: block; }

  #service-banner {
    display: block; } }
@media only screen and (max-width: 700px) {
  .topnav h1 {
    font-size: 30px; }

  .banner {
    position: static; }

  .services h1 {
    margin-top: 20px; }

  .pagecontent {
    display: flex;
    flex-direction: column; }

  .topnav h1 {
    padding-left: 15px; }

  .pagecontent form {
    margin: 0 auto;
    margin-bottom: 20px; }

  .contact-info {
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;
    padding-right: 80px; } }
@media only screen and (max-width: 500px) {
  .subbanner {
    display: flex;
    flex-direction: column; }
    .subbanner img {
      max-width: 100%; }

  .services {
    text-align: center; }

  .topnav {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .topnav .telephone {
      padding-top: 0px; } }
@media only screen and (max-width: 400px) {
  .topnav {
    display: none; }

  .headernav {
    display: none; }

  body {
    padding-top: 50px; } }

/*# sourceMappingURL=styles.css.map */
