
body{
    font-family:  Helvetica, sans-serif;
}



.services-content {
    display: flex;
    margin-top: 300px;
    justify-content: space-between;
    
}


.services-page-featured-image{
    padding-left: 20px;
   
}
.img-computer-repair {
    display: none;
}
.img-web-design {
    display: none;
}
.services{
    padding-top:36px;
    padding-right: 10px;
}
