

footer {
    background-color: black;
    text-align: center;
    
    p {
        color: grey;
    }

    li:hover {
        text-decoration: underline;
    

.underlined {
        text-decoration: underline dotted red;
      }
    
}
}
.footer-icons {
    display: flex;
    align-items: center;
    padding: 0 24px;

    > * {
        width: 33.3333333333%;
    }

}

.footer-logo {

    img {
        max-width: 75px;
        max-height: 75px;
        display: block;
    }
    
}

.social-media {
    display: flex;
    justify-content: center;
    //padding-top: 40px;
    //width: 150px;
    //justify-content: space-between;

    & a:nth-child(2) {
        margin: 0 20px;
    }

    img {
        max-width: 30px;
        max-height: 30px;
    }
}

.footer-telephone {
    //padding-top: 40px;
    text-align: right;

    a {
        color:#8d8d8d;
        text-decoration: none;
    }

}

.copywright {
    padding-bottom: 5px;
}


