

nav:not(.service-nav){
    border: gray solid 1px;

 a {
    color:white;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    background:black;
    padding:20px 5px;
    display: block;
    width: 100%;
    text-align: center;
    transition:all 0.5s;
    
   
  }
  
  a:hover {
    // background:rgba(0,0,0,0.3);
          text-decoration: underline;
    

.underlined {
        text-decoration: underline dotted red;
      }
    
  }
  
  
  
 ul {
    border:1px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
    display:flex;
  }
  

  li {
    flex:3;
  }
}
nav.service-nav{
  padding: 40px;
 ul{
  height: 300px;
  
 
  // border:1px solid black;
  list-style: none;
  margin: 0;
   padding: 0;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;

}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #e4b124;
}
li a:hover {
  background-color:#14adb0;
  
}

 
}
  