
@media only screen and (max-width: 1010px) {
    .services-index, #servicesh2 {
        display: none;
    }

    .mobile-services {
        display: block;
    }
}

@media only screen and (max-width: 860px) {
    .subbanner h2 {
        font-size: 1em;
    }

    .subbanner img {
        max-width: 100px;
    }

    .subbanner article {
        padding: 15px;
    }

    // .banner img:first-child {
    //     display: none;
    // }

    // #contact-banner {
    //     display: block;
    // }

    // #service-banner {
    //     display: block;
    // }

}



@media only screen and (max-width: 700px) {

   
    .banner {
        position: static;
    }

    .services h1 {
        margin-top: 20px;
    }

    .pagecontent {
        display: flex;
        flex-direction: column;
    }



    .pagecontent form {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .contact-info {
        margin-left: auto;
        margin-right: auto;
        // padding-left: 80px;
        // padding-right: 80px;
    }

  }

  @media only screen and (max-width: 500px) {
      .subbanner {
          display: flex;
          flex-direction: column;

          img {
              max-width: 100%;
          }
      }


      .services {
          text-align: center;
      }

      .topnav {

      display: flex;
      flex-direction: column;
      text-align: center;

    .telephone, {
          padding-top: 0px;
      }

      }

  }

  @media only screen and (max-width: 400px) {
    
    .topnav {
        display: none;
    }

    .headernav {
        display: none;
    }
  
    body {
        padding-top: 50px;
    }
  }