

.wrapper{
    max-width: 1000px;
    margin:0 auto;
     border:wheat solid 1px;
    min-height: 100%;

}
.banner img{
    max-width: 1000px;
  position: absolute;
  height: auto;
}

.bannertext{

position: relative;
top:140px;
left:110px;
 
}


.pagecontent {
    display: flex;
 flex: 1;
}
.services-index img{
	width:333px;
	height: 320px;
}
.contact-info{
	margin-right: 10px;
	max-width: 319px;;
	
	
	
	background: #555;
	//  padding: 80px 30px 20px 30px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #D3D3D3;
	text-shadow: 1px 1px 1px #444;
	border: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.contact-info p  {
	margin-bottom: 10px;
}